* {
  box-sizing: border-box;
}

#app {
  font-size: 5em;
  text-align: center;
  height: 100vh;
}

#header {
  background-color: #f3ca40;
  height: 15vh;
  width: 100vw;
}

#middle {
  height: 60vh;
  width: 100vw;
}

#main {
  width: 80%;
}

#nav {
  width: 15vw;
  background-color: #4b4e6d;
}

#articles {
  width: 60vw;
  background-color: #6a8d92;
}

#ads {
  width: 15vw;
  background-color: #f2a541;
}

#footer {
  height: 15vh;
  width: 100vw;
  background-color: #f08a4b;
}

@media (max-width: 600px) {
  #app {
    display: flex;
    flex-direction: column;
    
  }
  #middle {
    display: flex;
    flex-direction: column;
    
  }
  #nav {
    width: 600px;
  }
  #articles {
    width: 600px;
    height: 300px;
  }
  #ads {
    width: 600px;
  }
  #footer {
    height: 300px;
  }
}

@media (min-width: 601px) and (max-width: 800px) {
  #app {
    display: flex;
    flex-direction: column;
  }
  #nav {
    display: flex;
    flex-direction: column;
    width: 800px;
    
  }
  #main {
    display: flex;
    flex-direction: row;
  
  }
  #articles {
    width: 400px;
    height: 100%;
  }
  #ads {
    width: 400px;
  }
  
}

@media (min-width: 1000px) {
  #app {
    flex-direction: row;
  }
  #middle, #main {
    display: flex;
    flex-direction: row;
  }
}
